#top-wrapper {
	background: rgb(255, 255, 255); left: 0px; top: 0px; width: 100%; height: 22px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; position: absolute; z-index: 5;
}
#top-header {
	margin: 0px auto; width: 864px; position: relative;
}
#breadcrumbs {
	margin: 0px !important; line-height: 24px; position: absolute;
}
#user-actions {
	margin: 0px !important; line-height: 24px; position: absolute;
}
#breadcrumbs {
	left: 0px;
}
#breadcrumbs span {
	height: 24px; line-height: 24px; margin-right: 5px; float: left;
}
#breadcrumbs a {
	height: 24px; line-height: 24px; margin-right: 5px; float: left;
}
#breadcrumbs .separator {
	background: url("/images/layout/separator.png") repeat-x left; width: 4px; display: inline-block;
}
#user-actions {
	right: 0px;
}
#user-actions a {
	float: right;
}
#user-actions a.fb_button {
	margin-top: 2px;
}
#user-actions a.native {
	line-height: 16px; font-size: 11px; margin-top: 3px; margin-left: 10px;
}
#user-actions .login {
	height: 16px; text-align: center; color: rgb(255, 255, 255); text-decoration: none; cursor: pointer;
}
#user-actions .login:hover {
	background-position: left bottom;
}
#user-actions .login {
	background: url("/images/layout/sign-in.png") left top; width: 58px;
}
#container {
	margin: 0px auto; width: 864px; padding-top: 22px; position: relative;
}
#content {
	background: rgb(255, 255, 255); padding: 15px 25px 25px; height: auto !important; overflow: hidden; margin-bottom: 15px; position: relative; min-height: 450px;
}
#header {
	width: 814px; height: 44px; clear: both; position: absolute; z-index: 20;
}
#cloudmade-logo {
	background: url("/images/layout/cm-logo.png"); width: 50px; height: 50px; text-indent: -11000px; overflow: hidden; margin-top: -3px; float: left;
}
.main_menu {
	background: rgb(218, 238, 242); margin: 5px 0px 0px; height: 34px; line-height: 14px; overflow: visible; float: right;
}
.main_menu li {
	padding: 0px; float: left;
}
.main_menu li a {
	background: rgb(218, 238, 242); padding: 10px 36px; color: rgb(0, 88, 176); line-height: 14px; font-family: arial,monospace; font-size: 14px; font-weight: bold; text-decoration: underline; border-right-color: rgb(255, 255, 255); border-right-width: 1px; border-right-style: solid; cursor: pointer;
}
.main_menu span {
	background: rgb(218, 238, 242); padding: 10px 36px; color: rgb(0, 88, 176); line-height: 14px; font-family: arial,monospace; font-size: 14px; font-weight: bold; text-decoration: underline; border-right-color: rgb(255, 255, 255); border-right-width: 1px; border-right-style: solid; cursor: pointer;
}
.main_menu span.selected {
	color: rgb(255, 255, 255); text-decoration: none; background-color: rgb(49, 124, 200);
}
.main_menu a.selected {
	color: rgb(255, 255, 255); text-decoration: none; background-color: rgb(49, 124, 200);
}
.main_menu span:hover {
	color: rgb(255, 255, 255); text-decoration: none; background-color: rgb(49, 124, 200);
}
.main_menu a:hover {
	color: rgb(255, 255, 255); text-decoration: none; background-color: rgb(49, 124, 200);
}
.dropdown-block a:hover {
	color: rgb(255, 255, 255); text-decoration: none; background-color: rgb(49, 124, 200);
}
.dropdown-block {
	clear: both; z-index: 20;
}
.dropdown-block li {
	float: none;
}
.dropdown-block li a {
	background: url("/images/layout/dropdown-item-bg.png") no-repeat 10px 12px rgb(52, 129, 206); padding: 0px 10px 0px 23px; width: 122px; height: 27px; color: rgb(255, 255, 255); line-height: 27px; font-size: 12px; font-weight: normal; border-bottom-color: rgb(112, 166, 220); border-bottom-width: 1px; border-bottom-style: solid; float: none; display: block;
}
#header h1 {
	width: 67px; height: 67px; text-indent: -11000px; margin-top: 15px; float: left; display: block;
}
#header h1 a {
	width: 67px; height: 67px; text-indent: -11000px; margin-top: 15px; float: left; display: block;
}
#main_body {
	height: auto !important; overflow: hidden; padding-top: 60px; position: relative; zoom: 1; min-height: 350px;
}
.mapzen-padded#main_body {
	padding-top: 75px;
}
.page_header {
	margin: 0px 0px 12px; padding-bottom: 4px; font-size: 24px; font-weight: normal; border-bottom-color: rgb(233, 233, 233); border-bottom-width: 1px; border-bottom-style: solid; display: block;
}
#footer {
	text-align: center; color: rgb(171, 175, 172);
}
#footer span {
	padding-left: 10px;
}
#footer a {
	padding-left: 10px;
}
#footer .first {
	padding-left: 0px;
}
.powered_by {
	color: rgb(192, 192, 192); padding-left: 50px !important; font-size: 11px;
}
#main_content {
	position: relative;
}
#menu-wrapper {
	float: right;
}
#second-level {
	background: rgb(49, 124, 200); margin: 0px; padding: 4px 6px; width: auto; clear: both;
}
#second-level span {
	float: left;
}
#second-level a {
	padding: 2px 5px; color: rgb(255, 255, 255); line-height: 13px; margin-right: 2px;
}
#second-level span {
	padding: 2px 5px; color: rgb(255, 255, 255); line-height: 13px; margin-right: 2px;
}
#second-level a:hover {
	text-decoration: none;
}
#second-level a.selected {
	background: rgb(9, 69, 130); border-radius: 2px; text-decoration: none; -moz-border-radius: 2px;
}
#second-level span {
	background: rgb(9, 69, 130); border-radius: 2px; text-decoration: none; -moz-border-radius: 2px;
}
#inner-content {
	position: relative; zoom: 1;
}
.error_body {
	background: url("/images/img/error_bg.jpg") no-repeat 375px bottom; height: 275px;
}
#hiring {
	background: url("/images/index/sponsored-locations-banner.png"); top: 0px; width: 153px; height: 151px; right: 0px; text-indent: -100000px; overflow: hidden; position: absolute; z-index: 100000;
}
.fb_iframe_widget {
	display: inline-block; position: relative;
}
.fb_iframe_widget span:first-of-type {
	text-align: justify; line-height: 16px; font-size: 11px; margin-top: 2px; margin-left: 10px; vertical-align: text-bottom; float: left; display: inline-block; position: relative;
}
.fb_iframe_widget.fb_edge_widget_with_comment span:first-of-type {
	margin: 0px; height: 24px;
}
.fb_edge_widget_with_comment span:first-of-type {
	margin: 0px; height: 24px;
}
#user-actions .feedback-wrapper {
	background: 0px !important;
}
.fb_edge_widget_with_comment {
	height: 24px;
}
#hiring {
	display: none;
}
